@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Pathways RestAPI Server</h3>
<p>This is a no-frills drop-off and pickup location for data packets between applications</p>

<p>
    BOG.Pathways.Server is a Restful API Server written in ASP.NET Core 2.0. It is open-source.
    Visit <a target='_blank' href='https://github.com/rambotech/Pathways'>this repository on GitHub</a> for more information.
</p>

<p>Use this area to provide additional information.</p>
